---

---
<!-- NO AUTH -->
<div class="flex-row gap-1 align-center gap-05">
    <a href="/sign-in">
    <button class="btn outline-btn">
            Sign in
        </button>
    </a>
    <a href="/sign-up">
        <button class="btn main-btn">
            Sign up
        </button>
    </a>
<!-- YES AUTH -->
    <!-- <button>
        Cart
    </button>
    <button>
        Profile page
    </button> -->
</div>