---
import AuthButtons from "./AuthButtons.astro";

const { activeTab } = Astro.props;
console.log(activeTab);
---
<div class="nav-bar">
  <h1>
    <img src="./icons/watch.svg" width="30" height="30" loading="lazy" class="align-center"/>
    <a href="/">
      HORA
      PUNTA
    </a>
  </h1>
  <nav>
    <a class={activeTab === "home" ? "active" : ""} href="/">HOME</a>
    <a class={activeTab === "products" ? "active" : ""} href="/products">PRODUCTS</a>
    <a class={activeTab === "about" ? "active" : ""} href="/about">ABOUT</a>
    <a class={activeTab === "contact" ? "active" : ""} href="/contact">CONTACT US</a>
  </nav>
  <AuthButtons/>
</div>